/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */
/* All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency */

/*----- variables ----*/
$darkPrimary: #1976D2;
$primary: #2196F3;
$lightPrimary: #BBDEFB;
$accent: #FF9800;
$primaryText: #212121;
$text: #FFFFFF;
$secondaryText: #727272;
$divider: rgba(200, 59, 99, 0.1);
$bgColor: #f5f5f5;


/* styles for the custom element itself - lowest specificity */
:host {
  display: block;
}

core-toolbar {
  color: $text;
  background-color: $primary;

  a {
    color: $text;
    text-decoration: none;
  }
}


/* Mintonette Styles */
.background {
  background-color: $bgColor;
}

.lightPrimaryBtn {
  background-color: $lightPrimary;
}

.primaryBtn {
  color: $text;
  background-color: $primary;
}

.darkPrimaryBtn {
  color: $text;
  background-color: $darkPrimary;
}

.cancelBtn {
  color: $text;
  background-color: red;
}

.settingsMenu {
  color: $primaryText;

  a {
    text-decoration: none;
    color: $primaryText;
  }
}

.dropdown {
  left: -150px;
}

.bottom {
  margin-top: 60px;
}

.content {
  padding: 16px;

  section {
    margin: 0;
    &[around-justified] paper-button {
      width: 250px;
      margin: 8px auto;
    }
  }
}