<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../../bower_components/core-animated-pages/transitions/cascade-transition.html">
<link rel="import" href="../../bower_components/core-animated-pages/transitions/core-transition-pages.html">
<link rel="import" href="../../bower_components/core-animated-pages/transitions/cross-fade.html">
<link rel="import" href="../../bower_components/core-animated-pages/transitions/hero-transition.html">
<link rel="import" href="../../bower_components/core-animated-pages/transitions/list-cascade.html">
<link rel="import" href="../../bower_components/core-animated-pages/transitions/scale-up.html">
<link rel="import" href="../../bower_components/core-animated-pages/transitions/slide-down.html">
<link rel="import" href="../../bower_components/core-animated-pages/transitions/slide-from-bottom.html">
<link rel="import" href="../../bower_components/core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="../../bower_components/core-animated-pages/transitions/slide-up.html">
<link rel="import" href="../../bower_components/core-animated-pages/transitions/tile-cascade.html">
<link rel="import" href="../../bower_components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../bower_components/core-icons/core-icons.html">
<link rel="import" href="../../bower_components/core-item/core-item.html">
<link rel="import" href="../../bower_components/core-item/core-item.html">
<link rel="import" href="../../bower_components/core-label/core-label.html">
<link rel="import" href="../../bower_components/core-media-query/core-media-query.html">
<link rel="import" href="../../bower_components/core-menu/core-menu.html">
<link rel="import" href="../../bower_components/core-overlay/core-overlay.html">
<link rel="import" href="../../bower_components/core-pages/core-pages.html">
<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html">
<!-- paper elements -->
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog-transition.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-action-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-dropdown/paper-dropdown-transition.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../../bower_components/paper-input/paper-char-counter.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">


<!-- Third-party elements -->
<link rel="import" href="../../bower_components/firebase-element/firebase-element.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-login.html">
<link rel="import" href="../../bower_components/more-routing/more-routing.html">


<!-- Mintonette elements -->
<link rel="import" href="./routes.html">
<link rel="import" href="./vb-data/vb-data.html">
<link rel="import" href="./vb-app/vb-app.html">
<link rel="import" href="./vb-login/vb-login.html">
<link rel="import" href="./vb-usersettings/vb-usersettings.html">
<link rel="import" href="./vb-home/vb-home.html">
<link rel="import" href="./vb-dashboard/vb-dashboard.html">
<link rel="import" href="./vb-matchmode/vb-matchmode.html">
<link rel="import" href="./vb-matchresults/vb-matchresults.html">