<!-- All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency -->

<!-- Routes for app -->
<more-routing-config driver="hash"></more-routing-config>


<!-- routes -->
<more-route name="splash" path="/splash"></more-route>

<more-route name="login" path="/"></more-route>

<more-route name="home" path="/home"></more-route>

<more-route name="users" path="/users/:userId">
  <more-route name="user-profile" path="/profile"></more-route>
  <more-route name="user-settings" path="/settings"></more-route>
</more-route>

<more-route name="matchmode" path="/matchmode/:userId">
  <more-route name="dashboard" path="/dashboard"></more-route>
</more-route>

<more-route name="results" path="/results"></more-route>