/* All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

/*----- variables -----*/
$darkPrimary: #1976D2;
$primary: #2196F3;
$lightPrimary: #BBDEFB;
$accent: #FF9800;
$primaryText: #212121;
$text: #FFFFFF;
$secondaryText: #727272;
$divider: #B6B6B6;
$bgColor: #f5f5f5;


::selection {
  color: $text;
  background: $accent; /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: $text;
  background: $accent; /* Gecko Browsers */
}

/* Universal Polymer Overrides */
paper-item a {
  text-decoration: none;
  color: $primaryText;
}


/* Mintonette Universal Styles */
body {
  background-color: $bgColor;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: $primaryText;
}

.browsehappy {
  margin: 0.2em 0;
  background: $accent;
  color: black;
  padding: 0.2em 0;
}