/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */
/* All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency */

/*----- variables ----*/
$darkPrimary: #1976D2;
$primary: #2196F3;
$lightPrimary: #BBDEFB;
$accent: #FF9800;
$primaryText: #212121;
$text: #FFFFFF;
$secondaryText: #727272;
$disabledText: #a8a8a8;
$divider: #B6B6B6;
$bgColor: #f5f5f5;


/* styles for the custom element itself - lowest specificity */
:host {
  display: block;
}

div {
  box-sizing: border-box;
}

core-toolbar {
  color: $text;
  background-color: $primary;
}

.settingsMenu {
  color: $primaryText;
  
  paper-item[disabled] a {
    color: $disabledText;
  }

  a {
    text-decoration: none;
    color: $primaryText;
  }
}

paper-fab {
  background-color: $accent;
}


/* Mintonette defined styles */
.background {

  .dropdown {
    left: -150px;
  }

  .bottom {
    margin-top: 60px;
  }
}

.content {
  height: 100%;
  padding: 45px 16px 16px 16px;
  background-color: $bgColor;

  .noTeams {
    display: inline-block;
    max-width: 600px;
    padding: 16px;
    background-color: $text;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.card {
  width: 350px;
  height: 300px;
  margin: 16px;
  background-color: $text;
  border-radius: 3px;

  .header {
    width: 100%;
    height: 167px;
    padding: 16px;
    border-radius: 3px 3px 0 0;
    background: $text url('../../images/teamCardBg.jpg') no-repeat center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }

  h4 {
    margin: 0;
    font-size: 1.8em;
    font-weight: normal;
    color: $text;
  }

  .content {
    height: 80px;
    padding: 16px;
    background-color: $text;

    p {
      line-height: 0;
    }

    span {
      font-size: 0.7em;
      color: $secondaryText;
    }
  }

  footer {
    padding-top: 6px;
    background-color: #fff;
    border-top: 1px solid rgba(200, 59, 99, 0.1);

    span {
      padding: 16px;
    }

    paper-button {
      height: 41px;

      a {
        text-decoration: none;
        color: $primaryText;
      }
    }
  }

  .fill {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.cardIconBtn {
  color: $secondaryText;
  &[disabled] {
    opacity: 0.3;
  }
}

.addPlayerFab {
  position: absolute;
  top: 147px;
  right: 16px;
  color: $primaryText;
  background-color: $lightPrimary !important;
}