<!-- All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency -->

<link rel="import" href="../../../bower_components/polymer/polymer.html">

<polymer-element name="vb-home" attributes="user teamuid">
  <template>
    <link rel="stylesheet" href="vb-home.css">

    <!-- firebase  & data stuff -->
    <firebase-login id="fbLogin" user="{{user}}" statusKnown="{{statusKnown}}" 
      location="https://volleyball-app.firebaseio.com" provider="{{provider}}" 
      on-error="{{error}}">
    </firebase-login>

    <!-- Firebase Data -->
    <firebase-element id="fbase" 
      location="https://volleyball-app.firebaseio.com/{{user.uid}}/userTeams" 
      data="{{userTeams}}" keys="{{keys}}" dataReady="{{userReady}}">
    </firebase-element>

    <!-- Get regionsData -->
    <core-ajax auto
      url="http://volleyball.mintonette.io/regions.json"
      response="{{regionData}}"
      headers='{"Access-Control-Allow-Origin": "*"}'
      handleAs="json">
    </core-ajax>


    <!-- page container -->
    <div class="background" vertical layout fade fit>
      <!-- toolbar -->
      <template is="auto-binding">
        <core-toolbar class="tall" cross-fade>
          <paper-menu-button icon="menu" on-tap="{{menuAction}}" hidden></paper-menu-button>
          <div flex></div>
          <div flex class="middle indent">Welcome to your team page</div>

          <paper-menu-button halign="right">
            <paper-icon-button icon="more-vert"></paper-icon-button>

            <paper-dropdown class="dropdown" transition="">
              <core-menu class="settingsMenu">
                <paper-item disabled>User Profile</paper-item>

                <paper-item disabled>
                  <a href="{{ urlFor('user-settings', {userId: 1}) }}">Account Settings</a>
                </paper-item>

                <paper-item on-tap="{{logout}}">Logout</paper-item>
              </core-menu>
            </paper-dropdown>
          </paper-menu-button>

          <!-- add teams actionBtn -->
          <paper-fab icon="add" class="bottom" on-tap="{{open}}"></paper-fab>
        </core-toolbar>
      </template>

      <!-- Main content -->
      <div class="content" vertical around-justified layout flex>
        <!-- No teams -->
        <paper-shadow z="2" hidden?="{{keys}}" class="noTeams" self-center animated>
          <p flex>Please add a team to your acccount.</p>
        </paper-shadow>

         <!-- Cards -->
        <div hidden?="{{!keys}}" horizontal wrap center-justified layout tile-cascade cross-fade flex>
          <!-- repeat teams from firebase -->
          <template repeat="{{key in keys}}">
              <div class="tile">
                <paper-shadow z="2" class="card" vertical layout animated>
                  <div class="header"></div>
                  <paper-fab icon="add" id="{{key}}" class="addPlayerFab" 
                    on-tap="{{addNewPlayer}}" mini></paper-fab>

                  <div class="content">
                    <p>{{userTeams[key]['team']}}</p>
                    <span>{{userTeams[key]['club']}}</span>
                  </div>

                  <footer horizontal layout>
                    <paper-button id="{{key}}" on-tap="{{getTeamUid}}">
                      <a href="{{ urlFor('matchmode', {userId: key}) }}" key="{{key}}">
                        NEW MATCH
                      </a>
                    </paper-button>

                    <span flex></span>

                    <paper-icon-button icon="delete" id="{{key}}" class="cardIconBtn" 
                      on-tap="{{deleteTeam}}">
                    </paper-icon-button>
                    
                    <!-- <a href="{{ urlFor('dashboard', {userId: key}) }}" key="{{key}}" id="{{key}}"  -->
                    <a href="javscript:void[0]" key="{{key}}" id="{{key}}" 
                      on-tap="{{getTeamUid}}">
                      <paper-icon-button icon="dashboard" class="cardIconBtn" disabled></paper-icon-button>
                    </a>
                  </footer>
                </paper-shadow>
              </div>
          </template>
        </div>
      </div>


      <!-- Add teams dialog -->
      <paper-action-dialog heading="Add A Team" backdrop autoCloseDisabled
        id="addTeamDialog">
        <p>Once this form is complete, you will have a new team on your account.</p>
        <br>

        <!-- Region Name -->
        <paper-dropdown-menu label="Choose Your Region" style="width: 100%;">
            <paper-dropdown class="dropdown">
                <core-menu class="menu" selected="{{regionSelection}}" on-core-select="{{regionSelected}}">
                    <template repeat="{{region in regionData}}">
                      <paper-item name="{{region.name}}">{{region.name}}</paper-item>
                    </template>
                </core-menu>
            </paper-dropdown>
        </paper-dropdown-menu>

        <br><br>

        <!-- State Name -->
        <paper-dropdown-menu label="Choose Your State" style="width: 100%;" 
          disabled?="{{!regionSelection}}">
            <paper-dropdown class="dropdown">
                <core-menu class="menu" selected="{{stateSelection}}" on-core-select="{{selectAction}}">
                    <template repeat="{{states in convert}}">
                      <template repeat="{{state in states.states}}">
                        <paper-item>{{state}}</paper-item>
                      </template>
                    </template>
                </core-menu>
            </paper-dropdown>
        </paper-dropdown-menu>

        <br><br>

        <!-- Club Name -->
        <paper-dropdown-menu label="Choose Your Club" style="width: 100%;" 
          disabled?="{{!selectedItem}}">
            <paper-dropdown class="dropdown">
                <core-menu class="menu" selected="{{clubSelection}}" on-core-select="{{clubSelected}}">
                    <template repeat="{{clubs in convert}}">
                      <template repeat="{{club in clubs.clubs}}">
                        <paper-item>{{club.name}}</paper-item>
                      </template>
                    </template>
                </core-menu>
            </paper-dropdown>
        </paper-dropdown-menu>

        <br><br>

        <!-- Team Name -->
        <paper-dropdown-menu label="Choose Your Team" style="width: 100%;" 
          disabled?="{{!clubConvert}}">
            <paper-dropdown class="dropdown">
                <core-menu class="menu" selected="{{teamSelection}}" on-core-select="{{selectAction}}">
                    <template repeat="{{clubs, index in clubConvert}}">
                      <template repeat="{{team in clubs.teams}}">
                        <paper-item>{{team}}</paper-item>
                      </template>
                    </template>
                </core-menu>
            </paper-dropdown>
        </paper-dropdown-menu>

        <paper-button dismissive on-tap="{{openInfo}}">More Info...</paper-button>
        <paper-button affirmative>Cancel</paper-button>
        <paper-button affirmative on-tap="{{addTeam}}">Add Team</paper-button>
      </paper-action-dialog>


      <!-- more info dialog (At time, adding `backdrop` attr to this caused error on close) -->
      <paper-dialog heading="More Info For Adding Teams" transition="core-transition-top" 
        id="infoDialog">
        <p>If you're region or team is missing, please email us at 
          <a href="mailto:info@mintonette.io">info@mintonette.io</a> so we may contact the
          neccessary region/authorities to request your addition to our community!</p>
      </paper-dialog>


      <!-- adding players dialog -->
      <paper-action-dialog id="playersDialog" heading="Add Players" backdrop>
        <div hidden?="{{!addNewPlayers}}">
          
        </div>

        <div hidden?="{{addNewPlayers}}">
          <p>Add Players to your team by entering thier name, number and selecting thier position.</p>

          <paper-input-decorator label="Player First Name" floatingLabel
            error="First name is required" autovalidate>
              <input is="core-input" type="text" value="{{playerFirstName}}" required>
          </paper-input-decorator>

          <paper-input-decorator label="Player Last Name" floatingLabel
            error="Last name is required" autovalidate>
              <input is="core-input" type="text" value="{{playerLastName}}" required>
          </paper-input-decorator>

          <!-- TODO: May have players numbers stored in data in future -->
          <paper-input-decorator label="Player Number" floatingLabel
            error="Number name is required" autovalidate>
              <input is="core-input" type="text" value="{{playerNumber}}" maxLength="3" required>
          </paper-input-decorator>

          <paper-dropdown-menu label="Choose Position" style="width: 100%;" 
            disabled?="{{!playerLastName && !playerLastName}}">
              <paper-dropdown class="dropdown">
                  <core-menu class="menu" selected="{{position}}" on-core-select="{{selectAction}}">
                    <paper-item>Outside Hitter</paper-item>
                    <paper-item>Middle</paper-item>
                    <paper-item>Right Side</paper-item>
                    <paper-item>Setter</paper-item>
                    <paper-item>Libero</paper-item>
                    <paper-item>Defensive Specialist</paper-item>
                  </core-menu>
              </paper-dropdown>
          </paper-dropdown-menu>

          <paper-button affirmative>Cancel</paper-button>
          <paper-button affirmative on-tap="{{addPlayer}}" autofocus>Add Player</paper-button>
        </div>
      </paper-action-dialog>


      <!-- deleting team dialog -->
      <paper-action-dialog id="confirmDialog" heading="Delete Team" backdrop>
        <p>Are you sure you would like to delete this team from your account? Once this is done, the team and it's history will be permanently erased.</p>

        <paper-button affirmative>Cancel</paper-button>
        <paper-button affirmative on-tap="{{confirmTeamDelete}}" autofocus>Delete Team</paper-button>
      </paper-action-dialog>


      <!-- toast -->
      <paper-toast id="toast1" text="{{message}}" onclick="discardDraft(el)"></paper-toast>
    </div>
  </template>


  <script src="vb-home.js"></script>
</polymer-element>
