<!-- All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency -->

<link rel="import" href="../../../bower_components/polymer/polymer.html">

<polymer-element name="vb-matchmode" attributes="user teamuid wide">
  <template>
    <link rel="stylesheet" href="vb-matchmode.css">

    <!-- firebase  & data stuff -->
    <firebase-login id="fbLogin" user="{{user}}" statusKnown="{{statusKnown}}" 
      location="https://volleyball-app.firebaseio.com" provider="{{provider}}" 
      on-error="{{error}}">
    </firebase-login>

    <!-- Firebase Data -->
    <firebase-element id="fbase" 
      location="https://volleyball-app.firebaseio.com/{{user.uid}}/userTeams/{{teamuid}}/players" 
      data="{{userTeams}}" keys="{{keys}}" dataReady="{{userReady}}">
    </firebase-element>


    <!-- page container -->
    <div class="background" vertical layout slide-down fade fit>
      <!-- toolbar -->
      <template is="auto-binding">
        <core-toolbar>
          <div flex>Match mode</div>

          <paper-menu-button halign="right">
            <paper-icon-button icon="more-vert"></paper-icon-button>

            <paper-dropdown class="dropdown" transition="">
              <core-menu class="settingsMenu">
                <paper-item disabled>User Profile</paper-item>

                <paper-item disabled>
                  <a href="{{ urlFor('user-settings', {userId: 1}) }}">Account Settings</a>
                </paper-item>

                <paper-item on-tap="{{logout}}">Logout</paper-item>
              </core-menu>
            </paper-dropdown>
          </paper-menu-button>
        </core-toolbar>
      </template>

      <!-- Main content -->
      <div class="content" vertical layout flex fade>
        <section class="{{ {wide: wide} | tokenList }}" horizontal?="{{wide}}" 
          vertical?="{{!wide}}" around-justified?="{{!wide}}" layout>
          <span self-center>Choose your mode</span>

          <paper-button id="offenseBtn" class="{{ {darkPrimaryBtn: offense} | tokenList}}" 
            on-tap="{{showOffensive}}" raised>
            Offensive
          </paper-button>

          <paper-button id="defenseBtn" class="{{ {darkPrimaryBtn: defense} | tokenList}}" 
            on-tap="{{showDefensive}}" raised>
            Defensive
          </paper-button>

          <template if="{{wide}}">
            <div flex></div>
          </template>

          <paper-button id="endSetBtn" class="lightPrimaryBtn" on-tap="{{endSet}}" 
            self-end?="{{wide}}" raised>
            End Set
          </paper-button>

          <paper-button id="endMatchBtn" class="cancelBtn" on-tap="{{endMatch}}" 
            self-end?="{{wide}}" hero-id="results" hero raised>
            End Match
          </paper-button>
        </section>

        <div horizontal wrap center-justified layout flex fade>
          <!-- Players card -->
          <paper-shadow z="2" class="card {{ {wide: wide} | tokenList}}" animated showing>
            <section id="btnContainer">
              <h2>Players</h2>
              <template repeat="{{player in keys}}" horizontal justified layout>
                <paper-button id="{{userTeams[player]['number']}}" class="primaryBtn playerBtn" 
                  on-tap="{{logPlayer}}">
                  # {{userTeams[player]['number']}}
                </paper-button>
              </template>
            </section>
          </paper-shadow>


          <!-- Offensive Card -->
          <paper-shadow z="2" class="card {{ {wide: wide} | tokenList}}" animated showing?="{{offense}}">
            <section>
              <h2>Offensive</h2>

              <!-- TODO: MAKE TEMPLATE FROM CORE-AJAX -->
              <!-- <template repeat="{{s in selections}}">
                <h4>{{s.name}}</h4>
                <div horizontal justified layout>
                  <paper-radio-group class="primary" selected="{{selected}}" on-core-select="{{logMove}}">
                    <paper-radio-button name="{{s.selectName}}" label="{{s.rally}}"></paper-radio-button>
                  </paper-radio-group>
                </div>
              </template> -->

              <h4>Serving</h4>
              <div horizontal justified layout>
                <paper-radio-group class="primary" selected="{{selected}}" on-core-select="{{logMove}}">
                  <paper-radio-button name="Ace" label="Ace"></paper-radio-button>
                  <paper-radio-button name="Serving Attempt" label="Attempt"></paper-radio-button>
                  <paper-radio-button name="Serving Error" label="Error"></paper-radio-button>
                </paper-radio-group>
              </div>

              <h4>Hitting</h4>
              <div horizontal justified layout>
                <paper-radio-group class="primary" selected="{{selected}}" on-core-select="{{logMove}}">
                  <paper-radio-button name="Kill" label="Kill"></paper-radio-button>
                  <paper-radio-button name="Hitting Attempt" label="Attempt"></paper-radio-button>
                  <paper-radio-button name="Hitting Error" label="Error"></paper-radio-button>
                </paper-radio-group>
              </div>

              <h4>Setting</h4>
              <div horizontal justified layout>
                <paper-radio-group class="primary" selected="{{selected}}" on-core-select="{{logMove}}">
                  <paper-radio-button name="Setting Assist" label="Assist"></paper-radio-button>
                  <paper-radio-button name="Ball Handling Error" label="Ball Handling Error"></paper-radio-button>
                  <paper-radio-button name="Setting Attempt" label="Attempt"></paper-radio-button>
                </paper-radio-group>
              </div>
            </section>
          </paper-shadow>


          <!-- Defensive Card -->
          <paper-shadow z="2" class="card {{ {wide: wide} | tokenList}}" animated showing?="{{defense}}">
            <section>
              <h2>Defensive</h2>

              <h4>Blocking</h4>
              <div horizontal justified layout>
                <paper-radio-group class="primary" selected="{{selected}}" on-core-select="{{logMove}}">
                  <paper-radio-button name="Solo" label="Solo"></paper-radio-button>
                  <paper-radio-button name="Blocking Assist" label="Assist"></paper-radio-button>
                  <paper-radio-button name="Blocking Error" label="Error"></paper-radio-button>
                </paper-radio-group>
              </div>

              <h4>Serve Receive</h4>
              <div horizontal justified layout>
                <paper-radio-group class="primary" selected="{{selected}}" on-core-select="{{logMove}}">
                  <paper-radio-button name="SR 3 Pass" label="3 Pass"></paper-radio-button>
                  <paper-radio-button name="SR 2 Pass" label="2 Pass"></paper-radio-button>
                  <paper-radio-button name="SR 1 Pass" label="1 Pass"></paper-radio-button>
                  <paper-radio-button name="SR Error" label="SR Error"></paper-radio-button>
                </paper-radio-group>
              </div>

              <h4>Defense</h4>
              <div horizontal justified layout>
                <paper-radio-group class="primary" selected="{{selected}}" on-core-select="{{logMove}}">
                  <paper-radio-button name="Defense SR 3 Pass" label="3 Pass"></paper-radio-button>
                  <paper-radio-button name="Defense SR 2 Pass" label="2 Pass"></paper-radio-button>
                  <paper-radio-button name="Defense SR 1 Pass" label="1 Pass"></paper-radio-button>
                  <paper-radio-button name="Defense SR Error" label="SR Error"></paper-radio-button>
                </paper-radio-group>
              </div>
          </paper-shadow>
        </div>


      <!-- submit play -->
      <paper-fab icon="check" on-tap="{{submitPlay}}"></paper-fab>

      <!-- toast -->
      <paper-toast id="toast1" text="{{message}}" onclick="discardDraft(el)"></paper-toast>
    </div>
  </template>


  <script src="vb-matchmode.js"></script>
</polymer-element>
