/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */
/* All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency */

/*----- variables ----*/
$darkPrimary: #1976D2;
$primary: #2196F3;
$lightPrimary: #BBDEFB;
$accent: #FF9800;
$primaryText: #212121;
$text: #FFFFFF;
$secondaryText: #727272;
$disabledText: #a8a8a8;
$divider: rgba(200, 59, 99, 0.1);
$bgColor: #f5f5f5;


/* styles for the custom element itself - lowest specificity */
:host {
  display: block;
}

core-toolbar {
  color: $text;
  background-color: $primary;

  paper-item[disabled] a {
    color: $disabledText;
  }

  a {
    color: $text;
    text-decoration: none;
  }
}

paper-fab {
  position: absolute;
  right: 32px;
  bottom: 32px;
  background-color: $primary;
}

paper-radio-group.primary paper-radio-button::shadow #onRadio {
  background-color: #4285f4;
}

paper-radio-group.primary paper-radio-button[checked]::shadow #offRadio {
  border-color: #4285f4;
}


/* Mintonette Styles */
.background {
  background-color: $bgColor;
}

.middle {
  display: inline-block;
  vertical-align: middle;
}

.lightPrimaryBtn {
  background-color: $lightPrimary;
}

.primaryBtn {
  color: $text;
  background-color: $primary;
}

.darkPrimaryBtn {
  color: $text;
  background-color: $darkPrimary;
}

.cancelBtn {
  color: $text;
  background-color: red;
}

.playerBtn {
  margin: 0.35em 4.5px !important;

  &.active {
    color: $text;
    background-color: $accent;
  }
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid $divider;
}

.settingsMenu {
  color: $primaryText;

  a {
    text-decoration: none;
    color: $primaryText;
  }
}

.dropdown {
  left: -150px;
}

.bottom {
  margin-top: 60px;
}

.content {
  padding: 16px;

  section {
    margin: 0;
    &[around-justified] paper-button {
      width: 250px;
      margin: 8px auto;
    }
  }
}

.card {
  width: 90%;
  margin: 8px;
  background-color: $text;
  border-radius: 3px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  h4 {
    color: $secondaryText;
  }
}

.card.wide {
  width: 314px;
}

.card[showing] {
  -webkit-transform: none;
  transform: none;
}

section {
  margin: 16px;
  padding: 16px;
}