<!-- All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency -->

<link rel="import" href="../../../bower_components/polymer/polymer.html">

<polymer-element name="vb-matchresults" attributes="user teamuid wide">
  <template>
    <link rel="stylesheet" href="vb-matchresults.css">

    <!-- firebase  & data stuff -->
    <firebase-login id="fbLogin" user="{{user}}" statusKnown="{{statusKnown}}" 
      location="https://volleyball-app.firebaseio.com" provider="{{provider}}" 
      on-error="{{error}}">
    </firebase-login>

    <!-- Firebase Data -->
    <firebase-element id="fbase" 
      location="https://volleyball-app.firebaseio.com/{{user.uid}}/userTeams/{{teamuid}}/matches/matchResults/" data="{{userMatch}}" keys="{{keys}}" dataReady="{{userReady}}">
    </firebase-element>


    <!-- page container -->
    <div class="background" vertical layout cross-fade fit>
      <!-- toolbar -->
      <core-toolbar hero-id="results" hero>
        <div flex>Match Results</div>

        <paper-menu-button halign="right">
          <paper-icon-button icon="more-vert"></paper-icon-button>

          <paper-dropdown class="dropdown" transition="">
            <core-menu class="settingsMenu">
              <paper-item disabled>User Profile</paper-item>

              <paper-item disabled>
                <a href="{{ urlFor('user-settings', {userId: 1}) }}">Account Settings</a>
              </paper-item>

              <paper-item on-tap="{{logout}}">Logout</paper-item>
            </core-menu>
          </paper-dropdown>
        </paper-menu-button>
      </core-toolbar>

      <!-- Main content -->
      <div class="content" vertical layout flex slide-up fade>
        <section horizontal layout>
          <span class="addRightPad" self-center>Team Name</span>
          <span class="secondary" self-center>club name</span>

          <div flex></div>

          <paper-button id="endMatchBtn" class="cancelBtn" 
            on-tap="{{clearMatch}}" raised self-end slide-right>
            Delete Match
          </paper-button>
        </section>

        <section>
          <div tile-cascade reverse vertical layout>
            <template repeat="{{plays in keys}}">
              <div class="tile">
                <p class="list">
                  <span hidden?="{{!userMatch[plays]['player']}}">
                    <span class="cell"><span><core-icon icon="face"></core-icon></span></span>
                    <span class="cell">
                      <strong>Player: </strong><span class="rightPad">{{userMatch[plays]['player']}}</span>
                    </span>
                  </span>

                  <span class="cell">
                    <strong>Rally: </strong><span>{{userMatch[plays]['move']}}</span>
                  </span>
                </p>
              </div>
            </template>
          </div>
        </section>
      </div>

      <!-- go home -->
      <paper-fab icon="home" on-tap="{{showHome}}"></paper-fab>

      <!-- toast -->
      <paper-toast id="toast1" text="{{message}}" onclick="discardDraft(el)"></paper-toast>
    </div>
  </template>


  <script src="vb-matchresults.js"></script>
</polymer-element>
