/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */
/* All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency */

/*----- variables ----*/
$darkPrimary: #1976D2;
$primary: #2196F3;
$lightPrimary: #BBDEFB;
$accent: #FF9800;
$primaryText: #212121;
$text: #FFFFFF;
$secondaryText: #727272;
$disabledText: #a8a8a8;
$divider: rgba(200, 59, 99, 0.1);
$bgColor: #f5f5f5;


/* styles for the custom element itself - lowest specificity */
:host {
  display: block;
}

core-toolbar {
  color: $text;
  background-color: $primary;

  paper-item[disabled] a {
    color: $disabledText;
  }

  a {
    color: $text;
    text-decoration: none;
  }
}

paper-fab {
  position: fixed;
  right: 32px;
  bottom: 32px;
  background-color: $primary;
  z-index: 9999;
}


/* Mintonette Styles */
.background {
  background-color: $bgColor;
}

.middle {
  display: inline-block;
  vertical-align: middle;
}

.addRightPad {
  display: inline-block;
  padding-right: 16px;
}

.secondary {
  color: $secondaryText;
}

.primaryBtn {
  color: $text;
  background-color: $primary;
}

.darkPrimaryBtn {
  color: $text;
  background-color: $darkPrimary;
}

.cancelBtn {
  color: $text;
  background-color: red;
}

.playerBtn {
  margin: 0.35em 4.5px !important;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid $divider;
}

.settingsMenu {
  color: $primaryText;

  a {
    text-decoration: none;
    color: $primaryText;
  }
}

.dropdown {
  left: -150px;
}

.content {
  padding: 32px;

  .list {
    list-style: none;
    padding: 0 12px;
    font-size: 24px;
    line-height: 1.5;
  }

  .cell {
    display: inline-block;
    padding-right: 16px;
  }
}
