<!-- All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency -->

<link rel="import" href="../../../bower_components/polymer/polymer.html">


<polymer-element name="vb-data" attributes="user teams keys regionData">
  <template>
    <!-- firebase  & data stuff -->
    <firebase-login id="fbLogin" user="{{user}}" statusKnown="{{statusKnown}}"
      location="https://volleyball-app.firebaseio.com/" provider="password" 
      params='{"rememberMe": true}' on-error="{{error}}" on-user-created="{{userSuccess}}" 
      on-password-changed="{{userSuccess}}" on-password-reset="{{userSuccess}}" 
      on-user-removed="{{userSuccess}}">
    </firebase-login>

    <firebase-element id="fbase" 
      location="{{!offline && user ? 'https://volleyball-app.firebaseio.com/users/' + user.uid : null}}" 
      data="{{teams}}" keys="{{keys}}" dataReady="{{userReady}}">
    </firebase-element>

    <core-ajax auto
     url="http://www.mintonette.io/regions.json"
     response="{{regionData}}"
     handleAs="json">
    </core-ajax>

    <!-- create global object to hold users -->
    <pvc-globals id="globals" values="{{globals}}"></pvc-globals>

    <!-- toast -->
    <paper-toast id="toast1" 
      text="{{messages || statusKnown && user && 'Logged in' || statusKnown && 'Logged out' || 'Unknown (checking status...)'}}" 
      onclick="discardDraft(el)">
    </paper-toast>
  </template>

  <script src="vb-data.js"></script>
</polymer-element>