<!-- All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency -->

<link rel="import" href="../../../bower_components/polymer/polymer.html">

<polymer-element name="vb-app" attributes="user data wide" vertical layout>
  <template>
    <link rel="stylesheet" href="vb-app.css">

    <!-- firebase data -->
    <firebase-element id="fbase" 
      location="{{!offline && user ? 'https://volleyball-app.firebaseio.com/' + user.uid : null}}" 
      data="{{data}}" keys="{{keys}}" dataReady="{{userReady}}">
    </firebase-element>


    <!-- route views -->
    <more-route-selector selectedParams="{{params}}">
      <core-animated-pages id="coreAnimatedPages" flex auto
        transitions="cross-fade cross-fade-delayed scale-up slide-up slide-up-offscreen slide-down tile-cascade hero-transition list-cascade" 
        on-core-animated-pages-transition-end="{{transitionEndAction}}">

        <div route="splash" name="splash" class="splashContainer" relative>
          <span class="splash {{ {wide: wide} | tokenList }}" fit crossfade></span>
        </div>

        <vb-login route="login" user="{{user}}" wide="{{wide}}"></vb-login>

        <vb-home route="home" user="{{user}}" userteams="{{userteams}}" 
          teamuid="{{teamuid}}" wide="{{wide}}">
        </vb-home>

        <vb-usersettings route="user-settings" user="{{user}}" teamuid="{{teamuid}}" 
          wide="{{wide}}">
        </vb-usersettings>

        <vb-dashboard route="dashboard" user="{{user}}" teamuid="{{teamuid}}" 
          wide="{{wide}}">
        </vb-dashboard>

        <vb-matchmode route="matchmode" user="{{user}}" teamuid="{{teamuid}}" 
          wide="{{wide}}">
        </vb-matchmode>

        <vb-matchresults route="results" user="{{user}}" teamuid="{{teamuid}}" 
          wide="{{wide}}">
        </vb-matchresults>

      </core-animated-pages>
    </more-route-selector>


    <!-- toast -->
    <paper-toast id="toast1" 
      text="{{messages || statusKnown && user && 'Logged in' || statusKnown && 'Logged out' || 'Unknown (checking status...)'}}" 
      onclick="discardDraft(el)">
    </paper-toast>

    <core-media-query query="min-width: {{responsiveWidth}}" queryMatches="{{wide}}"></core-media-query>
  </template>


  <script src="vb-app.js"></script>
</polymer-element>
