/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */
/* All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency */

/*----- variables ----*/
$pureWhite: #fafafa;
$offWhite: #eee;
$lGrey: #ccc;
$disabledBg: #eaeaea;
$disabledColor: #a8a8a8;
$charcoal: #333;
$google: #d43e34;
$twitter: #5462ab;
$facebook: #3a5795;

/* styles for the custom element itself - lowest specificity */
:host {
  display: block;
}

.splashContainer {
  height: 100vh;
}

.splash {
  background: $pureWhite url(../../images/splash.svg) no-repeat center;
}

.splash.wide {
  background-size: 512px;
}
