<!-- All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency -->

<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Mintonette Volleyball App &#169; 2015</title>
  <meta name="description" content="The official real-time statistics volleyball app by Mintonette.">
  <meta name="keywords" content="volleyball, statistics, volleyball statistics app, real time statistics,
    real time, real, time, real time volleyball statistics, Mintonette, sports, Mintonette digital app,
    Mintonette digital volleyball app, Mintonette volleyball, Mintonette sports app">

  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" sizes="96x96" href="launcher-icon-2x.png">
  <meta name="application-name" content="mintonette">
  <link rel="manifest" href="manifest.json">

  <!-- build:css /styles/main.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild-->

  <!--
   Chrome 35 has old :host behavior before :host-context addition.
   Since Chrome 35 does not have HTMLImports, we can use this as a decent signal
   to force the ShadowDOM Polyfill. -->
   <script>
     if (!('import' in document.createElement('link'))) {
       var Platform = {flags: {shadow: true}};
     }
   </script>

  <!-- build:js /bower_components/webcomponentsjs/webcomponents.min.js -->
  <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
  <!-- endbuild -->

  <!-- will be replaced with /elements/elements.vulcanized.html -->
  <link rel="import" href="/elements/elements.html">
  <!-- endreplace-->
</head>

<body unresolved fullbleed layout vertical>

  <template is="auto-binding">
    <!-- data-handling for app -->
    <!-- <vb-data user="{{user}}" teams="{{teams}}" keys="{{keys}}" response="{{regionData}}"
      connected="{{connected}}"></vb-data> -->

    <!-- app contents -->
    <vb-app id="app" user="{{user}}" connected="{{connected}}" touch-action="auto"></vb-app>
  </template>


  <!-- build:js /scripts/app.js -->
  <script src="/scripts/app.js"></script>
  <!-- endbuild-->
</body>

</html>
