/* All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
/*----- variables -----*/
::-moz-selection {
  color: #FFFFFF;
  background: #FF9800;
  /* WebKit/Blink Browsers */ }
::selection {
  color: #FFFFFF;
  background: #FF9800;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  color: #FFFFFF;
  background: #FF9800;
  /* Gecko Browsers */ }

/* Universal Polymer Overrides */
paper-item a {
  text-decoration: none;
  color: #212121; }

/* Mintonette Universal Styles */
body {
  background-color: #f5f5f5;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #212121; }

.browsehappy {
  margin: 0.2em 0;
  background: #FF9800;
  color: black;
  padding: 0.2em 0; }
