<!-- All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency -->

<link rel="import" href="../../../bower_components/polymer/polymer.html">

<polymer-element name="vb-login" attributes="user userReady wide" center vertical layout>
  <template>
    <link rel="stylesheet" href="vb-login.css">

    <!-- firebase  & data stuff -->
    <firebase-login id="fbLogin" user="{{user}}" statusKnown="{{statusKnown}}" 
      location="https://volleyball-app.firebaseio.com" provider="password" 
      on-error="{{error}}" on-user-created="{{userSuccess}}" on-password-changed="{{userSuccess}}" 
      on-password-reset="{{userSuccess}}" on-user-removed="{{userSuccess}}">
    </firebase-login>

    <firebase-element id="fbase" 
      location="{{!offline && user ? 'https://volleyball-app.firebaseio.com/' + user.uid : null}}" 
      data="{{data}}" keys="{{keys}}" dataReady="{{userReady}}">
    </firebase-element>

    <div class="bg" fit dummy cross-fade>
      <!-- Beta Version -->
      <core-toolbar flex>Version 0.1</core-toolbar>
    </div>

      <div class="main {{ {wide: wide} | tokenList}}" flex vertical layout>

        <div class="card {{ {wide: wide} | tokenList }}" flex vertical layout 
          slide-up-offscreen cross-fade="{{!wide}}">

          <div vertical flex layout
            cross-fade-delayed?="{{parentElement.lastSelected !== 'splash' && wide}}" 
            on-keypress="{{ keypressAction }}">

            <div vertical flex layout
              cross-fade-delayed?="{{parentElement.lastSelected !== 'splash' && wide}}" on-keypress="{{ keypressAction }}">

            <div class="indent" layout vertical>
              <div class="header">Sign In With Social</div>

              <section class="content" horizontal justified layout>
                <paper-button raised id="google" class="createUserBtn"  
                  on-tap="{{login}}" disabled>
                  Google +
                </paper-button>

                <paper-button raised id="twitter" class="createUserBtn"
                  on-tap="{{login}}" disabled>
                  Twitter
                </paper-button>

                <paper-button raised id="facebook" class="createUserBtn"
                  on-tap="{{login}}" disabled>
                  Facebook
                </paper-button>
              </section>

              <div class="header spaced">Or With Email</div>
            </div>

            <div flex>
              <paper-input-decorator label="Your Email" floatingLabel
                error="Email is required" autovalidate>
                  <input is="core-input" type="email" value="{{email}}" name="email" autocomplete="email" required>
              </paper-input-decorator>

              <paper-input-decorator label="Your Password" floatingLabel
                error="Password is required" autovalidate>
                  <input id="password" is="core-input" type="password" value="{{userPassword}}" required>
                  <!-- <paper-char-counter class="counter" target="password"></paper-char-counter> -->
              </paper-input-decorator>

              <!-- TODO: Add 'on-tap="{{changePassword}}' -->
              <paper-button on-tap="{{resetPassword}}" disabled>Forgot Password</paper-button>

              <paper-button raised class="createUserBtn" hidden?="{{user}}"
                on-tap="{{createUser}}" disabled>
                Create User
              </paper-button>
            </div>
            
            <!-- Sign In/Out Btns -->
            <div horizontal center layout>
              <paper-button on-tap="{{logout}}" hidden?="{{!user}}">Sign Out</paper-button>
              <div flex></div>

              <paper-fab id="check" icon="check"
                showing?="{{email.length && userPassword.length !== undefined}}" 
                on-tap="{{login}}" hidden?="{{user}}"></paper-fab>
            </div>
          </div>
        </div>
      </div>

      <!-- toast -->
      <paper-toast id="toast1" 
        text="{{messages || statusKnown && user && 'Logged in' || statusKnown && 'Logged out' || 'Unknown (checking status...)'}}" 
        onclick="discardDraft(el)">
      </paper-toast>
  </template>


  <script src="vb-login.js"></script>
</polymer-element>
