/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */
/* All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency */

/*----- variables ----*/
$darkPrimary: #1976D2;
$primary: #2196F3;
$lightPrimary: #BBDEFB;
$accent: #FF9800;
$primaryText: #212121;
$text: #FFFFFF;
$secondaryText: #727272;
$divider: #B6B6B6;
$bgColor: #f5f5f5;
$google: #d43e34;
$twitter: #5462ab;
$facebook: #3a5795;

/* styles for the custom element itself - lowest specificity */
:host {
  display: block;
}

:host([animate]:not(.core-selected)) .bg {
  z-index: -1;
}

/* paper and core elements */

core-toolbar {
  color: $primaryText;
  background-color: transparent;
}

paper-fab {
  background-color: $primary;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

paper-fab[showing] {
  -webkit-transform: none;
  transform: none;
}

/* TODO(kschaaf): fix more generally */
paper-fab[disabled] {
  pointer-events: none;
}

/* background */
.bg {
  background: $text url('../../images/vballWallpaper.jpg') top center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.main {
  position: relative;
  margin-top: 65px;
  width: 90%;
  &.wide {
    width: 30%;
    margin-top: 0;
  }
}

.hero {
  background-color: $text;
}

.card {
  width: 100%;
  padding: 20px 16px;
  background-color: $text;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.wide.card {
/*  margin-top: 64px; */
  width: 375px;
  margin-top: 104px;
  max-height: 530px;
  min-width: 353px;
  max-width: 512px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
}

.header {
  font-size: 1.5em;
  color: $primaryText;
  font-weight: lighter;
  &.spaced {
    margin-top: 16px;
  }
}

.indent {

  core-toolbar {
    color: $primaryText;
    background-color: transparent !important;
  }

  .content {
    padding: 20px 16px;
    background-color: $text;

  /* When Ready to allow social login un-comment
    #google,
    #twitter,
    #facebook {
      color: white;
      background-color: $google;
    }

    #twitter {
      background-color: $twitter;
    }

    #facebook {
      background-color: $facebook;
    } */

    paper-button {
      margin: 16px 0;
    }
  }
}
