<!-- All code under GNU GENERAL PUBLIC LICENSE 2015, copyright 2015 Mintonette software agency -->

<link rel="import" href="../../../bower_components/polymer/polymer.html">

<polymer-element name="vb-usersettings" attributes="user teamuid wide">
  <template>
    <link rel="stylesheet" href="vb-usersettings.css">

    <!-- firebase  & data stuff -->
    <firebase-login id="fbLogin" user="{{user}}" statusKnown="{{statusKnown}}" 
      location="https://volleyball-app.firebaseio.com" provider="{{provider}}" 
      on-error="{{error}}">
    </firebase-login>

    <!-- Firebase Data -->
    <firebase-element id="fbase" 
      location="https://volleyball-app.firebaseio.com/{{user.uid}}/userTeams/{{teamuid}}/players" 
      data="{{team}}" keys="{{keys}}" dataReady="{{userReady}}">
    </firebase-element>


    <!-- page container -->
    <div class="background" vertical layout slide-down fade fit>
      <!-- toolbar -->
      <template is="auto-binding">
        <core-toolbar>
          <div flex>User Settings</div>

          <a href="{{urlFor('home')}}">
            <paper-icon-button icon="home"></paper-icon-button>
          </a>

          <paper-menu-button halign="right">
            <paper-icon-button icon="more-vert"></paper-icon-button>

            <paper-dropdown class="dropdown" transition="">
              <core-menu class="settingsMenu">
                <paper-item disabled>User Profile</paper-item>
                <paper-item disabled>Account Settings</paper-item>
                <paper-item on-tap="{{logout}}">Logout</paper-item>
              </core-menu>
            </paper-dropdown>
          </paper-menu-button>
        </core-toolbar>
      </template>

      <!-- Main content -->
      <div class="content" vertical layout flex fade>
        User Settings

        Players:
        <template repeat="{{player in keys}}"> 
          <div class="player">
            Name: {{team[player]['fname']}} {{team[player]['lname']}} 
            Number: {{team[player]['number']}}
            Position: {{team[player]['position']}}
          </div>
        </template>


      <!-- toast -->
      <paper-toast id="toast1" text="{{message}}" onclick="discardDraft(el)"></paper-toast>
    </div>
  </template>


  <script src="vb-usersettings.js"></script>
</polymer-element>
